.home-page {
  display: flex;  
  height: 100vh;
}

.home-content {
  padding-top: 60px;
  flex-grow: 1;
  color: white;
  transition: margin-left 0.5s ease-in-out;
  background: linear-gradient(170deg, #7356e4 50%, white 50%);
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-items: center;
}

.home-content.shifted {
  margin-left: 250px;
}

.pdf-history {
  transition: margin-left 0.5s ease-in-out;
}

.pdf-history.open {
  margin-left: 200px;
}

.pdf-history.closed {
  margin-left: 0;
}

.create-cv-button {
    background-color: rgb(245, 174, 42);
}