body {
  margin: 0;
  padding: 0;
}

p,
div {
  color: black;
}

.sidebar {
  position: fixed;
  width: 400px;
  height: 100%;
  overflow: auto;
  color: white;
  background-color: #9188f2;
  box-sizing: border-box;
  transition: width 0.3s ease, padding 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar.closed {
  width: 0px;
  padding: 20px 0px;
  overflow: hidden;
}

.toggle-button {
  position: fixed;
  left: 430px;
  top: 50%;
  background: none;
  border: none;
  font-size: 2em;
  color: white;
  transition: left 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: #d1d1d2;
  }
}

.sidebar.closed + .toggle-button {
  left: 20px;
}

.title {
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
}

.sidebar-open {
  position: fixed;
  left: 100px;
  top: 50%;
  background: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.sidebar-close {
  position: fixed;
  left: 450px;
  top: 50%;
  background: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
