form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 5px;
    margin-bottom: 15px;
  }
  