.navbar-second {
  width: 100%;
  height: 100vh;
  background: linear-gradient(170deg, #7356e4 50%, white 50%);
  color: white;
  padding: 20px 0;
  font-size: 24px;
  z-index: 1000;
}

.title-name {
  cursor: pointer;
  padding-left: 200px;
}

.title-text {
  text-align: center;
}